@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=IBM+Plex+Sans+JP&family=Josefin+Slab&family=Noto+Sans+TC:wght@300&family=Noto+Serif+TC:wght@300&family=Orbitron&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&family=Zen+Old+Mincho&display=swap');


* {
    margin: 0;
    box-sizing: border-box;

}

body {
    border-top: 10px solid #8bafb4;
    background-color: beige;
    overflow-x: auto;
}

.container {
    width: 100vw;
    height: 100%;


}

@media screen and (min-width: 1000px) {
    .container {
        display: flex;
    }
}

.box {
    width: 58%;
    height: 100%;
    margin: auto;

}

.start {
    width: 8%;
}

.aside {
    width: 22.5%;
}

@media screen and (max-width: 1000px) {
    .aside {
        margin-right: auto;
        display: flex;
    }

    .aside-top>img {
        width: 250px;
    }
}

@media screen and (max-width: 1000px) {
    .aside-bottom>.row {
        position: relative;
        top: 75px;
        left: 15px;
        width: 200px
    }
}

@media screen and (max-width: 450px) {
    .aside-top>img {
        width: 200px;
        left: 45px;
    }

    .aside-bottom>.row {
        position: relative;
        top: 75px;
        left: 10px;
        width: 200px
    }
}

.middle {
    width: 8%;
}

.main {
    width: 50%;
}

@media screen and (max-width: 1000px) {
    .main {
        margin: auto;
        width: 100%
    }
}

@media screen and (max-width: 1000px) {
    .box {
        margin: auto;
        width: 90%
    }
}

/* .aside-top,
.aside-bottom,
.main-top,
.main-bottom,
.box,
.box>.section {
    border: 1px solid black
} */

.aside-bottom {}

.test:hover {
    & .col-2 .circle {
        background-color: #8bafb4;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    }
}

.circle {
    width: 10px;
    height: 10px;

    border-radius: 50%;
    border-color: gray 2px;
    background-color: gainsboro;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

table {
    width: 100%;

}

.td1 {
    width: 18%;

}

.td2 {
    width: 20%
}

.td3 {
    width: 18%;

}

.td4 {}

table,
td {
    border: 1px dotted #00707f;
    margin-top: 10px;
    text-align: center;
    padding: 5px
}

td {
    height: 50px;
    /* font-family: Noto+Sans+TC; */
}

td>div {

    background-color: #7cbcc4;
    color: #fff;
    /* font-size: large; */
    border-radius: 30px;
    height: 30px;
    width: 100%;
    padding-top: 2px;
    text-align: center;

}

.skill-box {
    background-color: goldenrod;
    color: #fff;
    /* font-size: large; */
    border-radius: 30px;
    width: 50%;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 767px) {

    .skill-box,
    td>div {
        padding-top: 4px;
    }

}

@media screen and (max-width: 450px) {

    .skill-box,
    td>div {
        padding-top: 6px;
    }

}

.skills {
    text-align: left;
}

.aside-top>img {
    margin-top: 100px;
    text-align: center;
}

.font-river {
    color: red;
    font-weight: bold;
    font-family: Josefin Slab
}

h2 {
    color: #00707f;
    font-weight: bold;
    font-size: 30px;
    font-family: Rubik Doodle Shadow;
    padding-bottom: 5px;
    border-bottom: 1px solid#00707f;
}

h2>span {
    font-size: 40px;
}

h3 {
    color: #00707fa0;
    font-size: 18px;
    font-family: DotGothic16;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    border-left: 15px solid #00707fa0
}

h4 {
    color: darkgoldenrod;
    font-size: large;
    font-family: DotGothic16
}

.section>div>h4,
.section>h4 {

    color: darkgoldenrod;
    opacity: 0.8;
    font-size: 23px;
    font-family: DotGothic16
}

a {
    text-decoration: none;
    color: rgba(128, 128, 128, 0.763);

}

a:hover {
    text-decoration: none;
    color: goldenrod;
    font-size: larger;
    font-weight: bolder;

}

p,
td {}





.online_store_pic:hover {
    /* width: 210%; */
    width: 100%;
    z-index: 1;

}



.remind {
    text-align: end;
    color: crimson;
    font-size: 18px;
    font-family: DotGothic16
}

.remind:hover {
    color: #8bafb4;
    font-weight: 500;
}

.calendar_pic:hover {
    /* width: 170%; */
    width: 100%;

}


.section img {
    position: relative;
    /* z-index: 0; */
    /* transition: z-index 0.3s ease; */
}

div>a {
    color: lightslategray;
}

.fw-bold {
    color: gray
}

footer {
    width: 100%;
    height: 10vh;
    border-bottom: 10px solid #8bafb4;
}

.top {
    position: fixed;
    right: 50px;
    bottom: 30px;

    color: #00707f;
    font-weight: bold;
    font-size: 30px;
    font-family: Rubik scribble;
    /* border-bottom: 1px solid#00707f;   */
}

.myBtn {
    background-color: #7cbcc4;
    color: #fff;
}

.my-ms-4 {
    margin-left: 22px
}

@media screen and (max-width: 767px) {
    .circle {
        margin-top: 5px;
    }

    td {
        font-size: smaller;
    }

    .remind {
        font-size: 10px;
    }

    .my-ms-4 {
        margin-left: 10px
    }
}

@media screen and (max-width: 767px) {
    .online_store_pic:hover {
        /* width: 230%; */
        z-index: 1;
    }
}

@media screen and (max-width: 767px) {
    .calendar_pic:hover {
        /* width: 218%; */
        z-index: 1;
    }
}

@media screen and (max-width: 767px) {
    .poster-modal img {
        width: 50%;
        height: 50%;

        margin-left: 300px
    }

    .poster-modal>.modal-dialog>img {
        width: 485px;

    }

}

@media screen and (max-width: 767px) {
    .calendar-modal img {
        width: 50%;
        height: 50%;

        margin-left: 300px
    }

    .calendar-modal>.modal-dialog>img {
        width: 485px;

    }
}

@media screen and (max-width: 767px) {
    .banner-modal img {
        width: 50%;
        height: 50%;

        margin-left: 300px;

    }

    .banner-modal>.modal-dialog>img {
        width: 485px;

    }
}

@media screen and (max-width: 767px) {
    .poster-modal>.modal-dialog>img {
        width: 415px;

    }

    .calendar-modal>.modal-dialog>img {
        width: 415px;

    }

    .banner-modal>.modal-dialog>img {
        width: 430px;

    }
}

@media screen and (min-width: 1500px) {
    .abbr-name {
        display: none;
    }

}

@media screen and (max-width: 1500px) {
    .full-name {
        display: none !important;
    }
}


@media screen and (min-width: 767px) {
    .abbr {
        display: none;
    }

}

@media screen and (max-width: 767px) {
    .none-abbr {
        display: none;
    }

    .abbr-td {

        width: 13.5%;
        margin: auto;
        text-align: center;
    }

    .halloween {
        display: none;
    }

    h3 {
        color: lightcoral;
        font-size: 16px;
        font-family: DotGothic16;
        font-weight: 600;
        /* margin-bottom: 20px;
        margin-top: 20px; */
        border-left: 15px solid lightcoral
    }



}

.web-tag {
    width: 230px;
    height:60px;
    /* border: 1px solid #00707f; */

    background-color: rgb(230, 230, 150);
    padding-left: 30px;
    /* opacity: 0.5; */
    cursor: pointer;
    border-bottom: none;
    border-radius: 20px 20px 0 0
}

.web-tag-abbr {

    border: 3px dotted #cdcd9b;
    background-color: #f2f2cb;
    cursor: pointer;
}

.web-tag:hover {
    /* background-color:rgba(5, 110, 133, 0.396); */
    /* border:3px dotted #cdcd9b; */

    /* border: 2px dotted #00707f; */
    border-bottom: none;

    & h3 {
        color: lightcoral;
        border-left: 15px solid lightcoral;

    }
}

@media screen and (max-width: 390px) {

    .circle {
        display: none;
        overflow-x: hidden;
    }
}